<div id="div1">
  <div>
    <p>Celem wzorca projektowego <b>Adapter</b> jest umożliwienie współpracy dwóm klasom o niekompatybilnych interfejsach. Adapter przekształca interfejs jednej z klas na interfejs drugiej klasy. Innym zadaniem omawianego wzorca jest opakowanie istniejącego interfejsu w nowy.</p>
    <br>
    <br>
    <img src="http://127.0.0.1:8081/files/adapter.png" />
    <br>
    <div id="div2">
      <p><b>Adapter</b> nie musi opakowywać żadnych obiektów, ponieważ dziedziczy zachowanie zarówno po kliencie, jak i po usłudze. Adaptacja odbywa się wewnątrz przeciążonych metod. Otrzymany w ten sposób adapter może być użyty w miejsce istniejącej klasy klienckiej.</p>
    </div>
  </div>
  <br><br>
  <!--  ZADANIE-->
  <h1>Zadanie</h1>

  <div id="div3">
    Stwórz klasę WizardAdapter, która zaadaptuje klasę Wizard do interfejsu Figher. Pamiętaj by nie modyfikować żadnych innych klas.
  </div><br>

  <strong>projekt początkowy do pobrania do zadania:</strong><br>
  <a href="http://127.0.0.1:8081/files/Adapter.zip" download>Adapter.zip</a><br/><br/>
  <!--  <input type="text" (change)="getName(name.value)" #name /> <br/>-->

  <br>
  <strong>Wybierz plik, a następnie rozpocznij test:</strong> <br>
  <div class="file-upload">
    <input type="file" hidden (change)="getFile($event)" #fileUpload/><br />
    <button mat-raised-button color="primary" class="upload-btn" (click)="fileUpload.click()" style="margin-right: 50px">Wybierz plik</button>
    <button type="button" (click)="submitData()" mat-raised-button color="primary">Rozpocznij test</button><br>
    <!--    <mat-progress-bar mode="indeterminate" *ngIf="isTesting()"></mat-progress-bar>-->
    <br>
  </div>

  <div *ngIf="IsListEmpty()">
    <p *ngFor="let resultObject of results">
      <b *ngIf="resultObject.isCorrect==true" style="color: green">poprawnie</b>
      <b *ngIf="resultObject.isCorrect==false" style="color: red">niepoprawnie</b>
      {{resultObject.outputData}}
    </p>
    <br><br>
  </div>
</div>


