<div id="div1">
  <mat-selection-list #shoes [multiple]="false">
<!--    <a *ngFor="let taskObject of tasks">-->
<!--        <mat-list-option>-->
<!--            {{taskObject.name}}-->
<!--        </mat-list-option>-->
<!--    </a>-->
<!--    <a>-->
<!--      <mat-list-option>-->
<!--          <nav>-->
<!--            <a routerLink="/singleton">Singleton</a>-->
<!--          </nav>-->
<!--      </mat-list-option>-->
<!--    </a>-->

        <a *ngFor="let taskObject of tasks" routerLink="/{{taskObject.name}}" style="text-decoration: none;">
            <mat-list-option>
              <nav>
                <b>{{taskObject.designPattern}}</b>
              </nav>
            </mat-list-option>
        </a>
    <br>
    <a routerLink="/testwiedzy" style="text-decoration: none;">
      <mat-list-option>
        <nav>
          <b>Test wiedzy wzorców projektowych</b>
        </nav>
      </mat-list-option>
    </a>
  </mat-selection-list>
</div>


<!--<p>-->
<!--  Option selected: {{taskss.selectedOptions.hasValue() ? taskss.selectedOptions.selected[0].value : 'None'}}-->
<!--</p>-->
